html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: rgb(204, 201, 204);
  background: linear-gradient(
    153deg,
    rgba(204, 201, 204, 1) 0%,
    rgba(193, 183, 195, 1) 67%,
    rgba(216, 216, 227, 1) 90%
  );
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title--home {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.sub--header__title--page {
  border: rgb(99, 19, 19) 2px solid;
  background-color: lightgoldenrodyellow;
  box-shadow: 5px 5px 5px silver;
  margin: 1em;
}

.header--title__page {
  text-decoration: underline;
}

.list__articles {
  text-decoration: none;
  border: 2px solid goldenrod;
}

.home__link {
  display: flex;
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 0.2em 0.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5em;
  width: auto;
  justify-content: center;
}

.home__link:hover {
  background-color: #ce0606;
}

.home__link:active {
  box-shadow: none;
  top: 5px;
}

.home__link:visited {
  background-color: #ccc;
}

.articles__link {
  display: flex;
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 0.2em 0.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5em;
  width: auto;
  justify-content: center;
}

.articles__link:hover {
  background-color: #ce0606;
}

.articles__link:active {
  box-shadow: none;
  top: 5px;
}

.articles__link:visited {
  background-color: #ccc;
}

.topic__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.flex__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.articles__list {
  background: rgb(204, 201, 204);
  background: linear-gradient(
    153deg,
    rgba(204, 201, 204, 1) 0%,
    rgba(193, 183, 195, 1) 67%,
    rgba(216, 216, 227, 1) 90%
  );
  margin: 1rem;
  height: auto;
  width: 300px;
  list-style-type: none;
}

.article__title--link {
  text-decoration: none;

  color: white;
}

.comments__list {
  list-style-type: none;
}

.comment__section {
  border: 1px solid black;
  margin-top: 0.5em;
  width: 500px;
  margin: auto auto;
}

.comment__form--adder {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.single__article {
  margin: 0.5em;

  border-bottom: 2px purple solid;
}
