html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: rgb(204, 201, 204);

  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title--home {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.sub--header__title--page {
  border: rgb(99, 19, 19) 2px solid;
  background-color: lightgoldenrodyellow;
  box-shadow: 5px 5px 5px silver;
  margin: 1em;
}

.header--title__page {
  font-family: cursive;
  font-size: 60px;
  text-decoration: underline;
}

.list__articles {
  text-decoration: none;
  border: 2px solid goldenrod;
}

.home__link:hover {
  background-color: #ce0606;
}

.home__link:active {
  box-shadow: none;
  top: 5px;
}

.home__link:visited {
  background-color: #ccc;
}

.articles__link {
  background-color: #e6e2e2;
  box-shadow: 2px 2px 0 #ccc;
  border: 1px solid red;
  color: black;
  padding: 0.2em 0.5em;
  align-content: flex-start;

  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  margin-left: 610px;
}

.articles__link:hover {
  background-color: #ce0606;
}

.articles__link:active {
  box-shadow: none;
  top: 5px;
}

.articles__link:visited {
  background-color: #ccc;
}

.topic__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 0 auto;
  border: 1px solid red;
  width: fit-content;
  margin-left: 560px;
  margin-top: 1rem;
}

/* Articles Section */

.flex__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.articles__list {
  background: rgb(204, 201, 204);
  background: linear-gradient(
    153deg,
    rgba(204, 201, 204, 1) 0%,
    rgba(193, 183, 195, 1) 67%,
    rgba(216, 216, 227, 1) 90%
  );

  border: 1px solid red;
  margin: 1rem;
  height: auto;
  width: 300px;
  list-style-type: none;
}

.article__title--link {
  text-decoration: none;
  color: blue;
}

/* Comment Section */

.comments__list {
  list-style-type: none;
}

.comment__section {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin-top: 0.5em;
  width: 500px;
  margin: auto auto;
  margin-bottom: 1em;
  padding: 1em;
}

.comment__form--adder {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.comment__title {
  text-decoration: underline;
}

/* Comment Adder */

.addercomment__title {
  text-decoration: underline;
}

.username {
  margin: 10px;
}

/* Single article */

.single__article {
  display: flex;
  flex-direction: column;
  margin: 5.5em;
  width: 0 auto;
  border-bottom: 2px purple solid;
  margin-top: 0;
}

.single--article__title {
  text-decoration: underline;
}
